.status__wrapper {
  display: flex;
  justify-content: space-between;
}

.status__numbers {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.status__numbers_green {
  color: #00cccc;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
