.content {
  display: flex;
  justify-content: center;

  gap: 60px;

  padding-top: 40px;
  align-items: baseline;
  max-height: 250px;
}

.orders {
  height: 852px;
  overflow: auto;
}

.orders::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.orders::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
