.wrapper {
  justify-content: center;
  display: flex;
  gap: 16px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: #4c4cff;
  text-decoration: none;
}

.controls {
  width: 450px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.controls button {
  width: 180px;
}

.controls button button {
  width: 180px;
}

.ordersFeed {
  height: 915px;
  overflow: auto;
  margin-top: 40px;
}

.content {
  display: flex;
}

.profile__menu {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.ordersFeed::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
  margin-right: 8px;
}

.ordersFeed::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
