.header {
  padding-top: 20px;
  background-color: #1c1c21;
}

.navigation {
  width: 1240px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.navigation__item {
  display: flex;
  column-gap: 10px;
}

.navigation__menu {
  display: flex;
  justify-content: space-between;
  width: max-content;
  column-gap: 45px;
  margin-right: 80px;
}
